<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <servlet>
        <servlet-name>AccumulatorServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.AccumulatorServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccumulatorViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.AccumulatorViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CameraServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.CameraServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CameraViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.CameraViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoreServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.CoreServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoreViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.CoreViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriquencyServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.FriquencyServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriquencyViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.FriquencyViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HddValueServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.HddSeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HddValueViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.HddValueViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetworkServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.NetworkServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetworkViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.NetworkViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessorServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ProcessorServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessorViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ProcessorViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProducerServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ProducerServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProducerViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ProducerViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamFriquencyServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamFriquencyServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamFriquencyViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamFriquencyViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamTypeServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamTypeServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamTypeViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamTypeViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamValueServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamValueServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamValueViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.RamValueViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenDiagonalServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenDiagonalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenDiagonalViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenDiagonalViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenMatrixServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenMatrixServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenMatrixViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenMatrixViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenResolutionsServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenResolutionServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenResolutionViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.ScreenResolutionViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OSServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.OSServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OSViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.OSViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardModelServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardModelServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardModelViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardModelViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardProducerServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardProducerServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardProducerViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardProducerViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardValueServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardValueServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCardValueViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.VideoCardValueViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotebookModelServiceServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.NotebooksModelServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotebookModelViewServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.NotebookModelViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotebookModelCreateServlet</servlet-name>
        <servlet-class>ua.com.vzhmuruk.servlets.NotebookModelCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccumulatorServiceServlet</servlet-name>
        <url-pattern>/accumulators</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccumulatorViewServlet</servlet-name>
        <url-pattern>/accumulators_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CameraServiceServlet</servlet-name>
        <url-pattern>/cameras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CameraViewServlet</servlet-name>
        <url-pattern>/cameras_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CoreServiceServlet</servlet-name>
    <url-pattern>/cores</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoreViewServlet</servlet-name>
        <url-pattern>/cores_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriquencyServiceServlet</servlet-name>
        <url-pattern>/friquencies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriquencyViewServlet</servlet-name>
        <url-pattern>/friquencies_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HddValueServiceServlet</servlet-name>
        <url-pattern>/hdds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HddValueViewServlet</servlet-name>
        <url-pattern>/hdds_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessorServiceServlet</servlet-name>
        <url-pattern>/processors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessorViewServlet</servlet-name>
        <url-pattern>/processors_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetworkServiceServlet</servlet-name>
        <url-pattern>/networks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetworkViewServlet</servlet-name>
        <url-pattern>/networks_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProducerServiceServlet</servlet-name>
        <url-pattern>/producers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProducerViewServlet</servlet-name>
        <url-pattern>/producers_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamFriquencyServiceServlet</servlet-name>
        <url-pattern>/ramfriquencies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamFriquencyViewServlet</servlet-name>
        <url-pattern>/ramfriquencies_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamTypeServiceServlet</servlet-name>
        <url-pattern>/ramtypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamTypeViewServlet</servlet-name>
        <url-pattern>/ramtypes_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamValueServiceServlet</servlet-name>
        <url-pattern>/ramvalues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamValueViewServlet</servlet-name>
        <url-pattern>/ramvalue_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenDiagonalServiceServlet</servlet-name>
        <url-pattern>/screensdiagonals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenDiagonalViewServlet</servlet-name>
        <url-pattern>/screensdiagonals_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenMatrixServiceServlet</servlet-name>
        <url-pattern>/screenmatrixes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenMatrixViewServlet</servlet-name>
        <url-pattern>/screenmatrixes_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenResolutionsServiceServlet</servlet-name>
        <url-pattern>/screenresolutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenResolutionViewServlet</servlet-name>
        <url-pattern>/screenresoulutions_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSServiceServlet</servlet-name>
        <url-pattern>/systems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSViewServlet</servlet-name>
        <url-pattern>/systems_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardModelServiceServlet</servlet-name>
        <url-pattern>/videocardmodels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardModelViewServlet</servlet-name>
        <url-pattern>/videocardmodels_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardProducerServiceServlet</servlet-name>
        <url-pattern>/videocardproducers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardProducerViewServlet</servlet-name>
        <url-pattern>/videocardproducers_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardValueServiceServlet</servlet-name>
        <url-pattern>/videocardvalues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCardValueViewServlet</servlet-name>
        <url-pattern>/videocardvalues_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotebookModelServiceServlet</servlet-name>
        <url-pattern>/notebookmodels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotebookModelViewServlet</servlet-name>
        <url-pattern>/notebookmodels_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotebookModelCreateServlet</servlet-name>
        <url-pattern>/notebookmodels_create</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
